@font-face {
    font-family: playfair;
    src: url('../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf');
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
    background: rgb(0, 128, 255);
    background: linear-gradient(
        180deg,
        rgba(0, 128, 255, 1) 34%,
        rgba(0, 212, 255, 0) 100%
    );
}

header-image {
    display: flex;
    justify-content: center;
    position: relative;
}

h1 {
    font-family: playfair;
    position: absolute;
    top: 280px;
    color: #1f1b24;
    font-size: 60px;
    font-weight: 200;
    background-color: rgba(255, 255, 255, 0.446);
}

img {
    height: 25em;
}

about-me-section {
    padding: 1em 2em 0 2em;
}

h2 {
    font-family: playfair;
    font-weight: 200;
    text-align: center;
    font-size: 30px;
}

p {
    color: rgb(109, 109, 109);
    font-size: 20px;
    padding: 0.5em 0 0.5em 0;
}

links {
    display: flex;
    justify-content: center;
    gap: 5px;
}
