@font-face {
    font-family: playfair;
    src: url('../fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf');
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
    background: rgb(0, 128, 255);
    background: linear-gradient(180deg, #0991b2, rgba(0, 212, 255, 0) 100%);
}

header-image {
    display: flex;
    justify-content: center;
    position: relative;
}

h1 {
    font-family: playfair;
    position: absolute;
    top: 280px;
    color: #1f1b24;
    font-size: 60px;
    font-weight: 200;
    background-color: rgba(255, 255, 255, 0.446);
}

img {
    height: 25em;
}

about-me-section {
    padding: 2em 2em 0 2em;
}

h2 {
    font-family: playfair;
    font-weight: 200;
    text-align: center;
    font-size: 30px;
}

p {
    color: rgb(109, 109, 109);
    font-size: 20px;
    padding: 0.5em 0 0.5em 0;
}

header-links {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding-top: 1em;
}

@media (min-width: 1000px) {
    header {
        flex-wrap: nowrap;
        align-items: center;
        padding: 3em 8em 1em 8em;
    }

    about-me-section {
        background-color: white;
        box-shadow:
            0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    h2 {
        text-align: start;
        padding-bottom: 0.5em;
    }

    header-links {
        justify-content: end;
        padding-bottom: 1em;
    }
}
