main {
    margin-top: 4em;
}

container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

div {
    margin: 1em;
    box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

image-container {
    width: 100%;
}

.work-images {
    width: 100%;
    object-fit: cover;
}

.weather-app-image,
.to-do-list {
    object-position: top left;
}

.svg {
    height: 1.2em;
}

title-and-link {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.project-description {
    padding: 0 1em 1em 1em;
}

h3 {
    font-family: playfair;
    font-weight: 150;
    font-size: 25px;
}
